<form #formRef="ngForm" (ngSubmit)="onSubmit(formRef)" class="max-w-sm mx-auto p-4 space-y-4" novalidate>

    <h1 class="text-3xl font-semibold">Connexion</h1>


    <div class="space-y-1">
        <label for="email">Email</label>
        <input pInputText inputId="email" name="email" type="email" required email autocomplete="username" class="w-full"
            [(ngModel)]="model.email" #emailRef="ngModel" />
        @if (emailRef.invalid && (emailRef.touched || formRef.submitted)) {
        @if (emailRef.errors?.['required']) {
        <p-message severity="error" size="small" variant="simple" text="Email requis"></p-message>
        }
        @if (emailRef.errors?.['email']) {
        <p-message severity="error" size="small" variant="simple" text="Format d'email invalide"></p-message>
        }
        }
    </div>


    <div class="space-y-1">
        <label for="password">Mot de passe</label>
        <p-password inputId="password" name="password" [feedback]="false" toggleMask required
            autocomplete="current-password" [(ngModel)]="model.password" #passwordRef="ngModel" class="w-full"
            inputStyleClass="w-full"></p-password>
        @if (passwordRef.invalid && (passwordRef.touched || formRef.submitted)) {
        @if (passwordRef.errors?.['required']) {
        <p-message severity="error" size="small" variant="simple" text="Mot de passe requis"></p-message>
        }
        }
    </div>

    <div class="space-y-1">

        <button pButton type="submit" label="Se connecter" class="w-full" [loading]="this.loading()"
            [disabled]="formRef.invalid"></button>

        @if (authError()) {
        <p-message severity="error" size="small" variant="simple" text="Identifiants incorrects"
            aria-live="polite"></p-message>
        }
    </div>
    <div class="text-md">
        <p>Pas encore de compte ? <p-button link routerLink="/register" label="Inscription" class="text-sm" /></p>
    </div>

    <p class="text-xs font-mono text-surface-500">
        Email demo : admin@mpmt.com<br />
        Mot de passe : password
    </p>
</form>